
<div id="error-flex">
    <h2 id="error-header">Oops! Something happened. Try creating a username that is unique!</h2>
    <a href="/login"><button id="error-button">Back to Login</button></a>
</div>