

<form id="login">

    <input type="text" name="user" id="name"/>
    <input type="text" name="password" id="password"/>
    <button type="submit" name="login" id="login">Login</button>

</form>


<div class="tab-bar">
  <button class="bar-item" onclick="openOption('Log In')">Log In</button>
  <button class="bar-item" onclick="openOption('Register')">Register</button>
</div>