/* --------------------------------- */
/* ----- structural / general ------ */
/* --------------------------------- */
@import url('https://fonts.googleapis.com/css2?family=Coda:wght@800&display=swap');


body {
  list-style:none !important;
  text-align: center;
  color:#00243f;
}

.headerFont {
  font-family: 'Coda', cursive;
  font-size: 4em;
  letter-spacing: 5px;
  text-shadow: 2px 2px 4px #000000;
  text-align: center;
}

.headerTitle {
  width: 100%;
  padding: 1%;
  background-color:darkgreen;
  color:white;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color:#00243f; 
  color:white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: .75em;
  letter-spacing: 1px;
  line-height: 2em;
  text-align: center;
  padding: .5%;
}

.positionContainer {
    text-transform: uppercase;
    font-weight: bold;
}

.position-relative {
  position:relative;
}

.container,
.container:hover,
.container:focus {
  min-height: 3em;
  min-width:3em;
  display:block;
}

/* .container:hover {
  background-color:rgba(0,0,0,0.7);
} */

.benchedContainer .container {
  width:100%;
  height:auto;
  min-height:5em;
  border:1px solid #00243f;
  border-radius:0%;
}

#signIn {
    display:none;
}

#field-img {
    width:100%;
    height:100%;
}

.br {
    display:block;
}

.formBenchedFlex {
  display:flex;
  flex-direction:row;
  justify-content: space-around;
  padding-bottom:2em;
}

#fauxNav {
  margin:0;
  display:flex;
  flex-direction:row;
  justify-content: flex-end;
}

#fauxNav button {
  color:#00243f;
}

#fauxNav li {
  width:auto;
}

#logOut {
  background-color:transparent;
  border:none;
  font-weight:bold;
  text-transform: uppercase;
}

#logOut:hover {
  cursor: pointer;
}

#user-welcome {
  width:auto;
}

/* --------------------------------- */
/* --------- form styles ----------- */
/* --------------------------------- */

.addPlayerForm, 
.formBenchedFlex .benchedContainer {
  width:50%;
  margin:5px;
}

.addPlayerForm {
  text-align: center;
  border:1px solid #dce0cd;
  border-radius:20px;
  background-color:#dce0cd;
  height:100%;
  padding-top:5%;
  padding-bottom:5%;
}

.addPlayerForm h2 {
  margin-top:0;
}

.addPlayerForm button {
  display:block;
  margin:0px auto;
  margin-top:5%;
  padding:2%;
  background-color: #264b77;
  border-color:#264b77;
  border-radius:5px;
  color:white;
  font-weight: bold;
  text-transform: uppercase;
}

.addPlayerForm button:hover {
  cursor: pointer;
}


/* --------------------------------- */
/* -------- benched styles --------- */
/* --------------------------------- */

/* .formBenchedFlex {
  background-color:#dce0cd;
} */

.formBenchedFlex ul {
  border:1px dashed gray;
  background-color:#dce0cd;
  border-radius:20px;
  margin:10px;
  display:flex;
  flex-wrap:wrap;
}

.container-benched {
  min-height:30em;
  display:flex;
}

.benchedContainer {
  text-transform: uppercase;
  font-weight: bold;
  border:1px solid #00243f;
  border-radius:20px;
  background-color: darkgreen;
  color:white;
}

/* --------------------------------- */
/* --------- font styles ----------- */
/* --------------------------------- */

body {
    font-family:sans-serif;
}

h5 {
    text-align:center;
    margin-bottom:0;
}



/* --------------------------------- */
/* --- position / player styles ---- */
/* --------------------------------- */

ul {
    list-style:none;
    padding:0;
}

ul:empty::after {
  background-color:rgba(0,0,0,0.7);
}

li {
    background-color:transparent;
    padding:10px;
    border-radius:10px;
    color:#00243f;
    width:5em;
    text-align:center;
    font-weight:bold;
    text-transform: uppercase;
}

#onFieldPositions {
    position:absolute;
    top:0;
    width:100%;
    height:100%;
}

.jersey {
    width:100%;
    margin:0px auto;
}


@media only screen and (max-width: 600px) {
  .jersey {
    width: 40%;
    margin:0px auto;
}
}


.delete {
  background-color: transparent;
  border:none;
  width:auto;
  float: right;
}

.update {
  background-color: transparent;
  border:none;
  width:auto;
  float: right;
}

.delete img,
.update img {
  width:1em;
}

.delete img:hover,
.update img:hover {
  cursor: pointer;
}



/* --------------------------------- */
/* - position absolute positioning - */
/* --------------------------------- */


.positionContainer.GoalKeeper {
  position:absolute;
  top:42%;
  left:5%;
}


.positionContainer.wings {
  position:absolute;
  top:0%;
  right:15%;
  height:90%;
}

.wingsFlex {
  display:flex;
  flex-direction:column;
  justify-content: space-around;
  height:95%;
}

.positionContainer.halfback {
  position:absolute;
  top:0%;
  left:25%;
  height:95%;
}

.halfbackFlex {
  display:flex;
  flex-direction:column;
  justify-content:space-around;
  height:95%;
}


.positionContainer.fullback {
  position:absolute;
  top:0%;
  left:15%;
  height:95%;
}

.fullbackFlex {
  display:flex;
  flex-direction:column;
  justify-content:space-around;
  height:95%;
}

.positionContainer.insideForward {
  position:absolute;
  top:0%;
  right:35%;
  height:95%;
}

.insideForwardFlex {
  display:flex;
  flex-direction:column;
  justify-content: space-around;
  height:95%;
}




/* --------------------------------- */
/* -------- dragula styles --------- */
/* --------------------------------- */

.gu-mirror {
  position: fixed !important;
  margin: 0 !important;
  z-index: 9999 !important;
  opacity: 0.8;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  filter: alpha(opacity=80);
}
.gu-hide {
  display: none !important;
}
.gu-unselectable {
  -webkit-user-select: none !important;
  -moz-user-select: none !important;
  -ms-user-select: none !important;
  user-select: none !important;
}
.gu-transit {
  opacity: 0.2;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
  filter: alpha(opacity=20);
}