/* ------------------------------------------- */
/* ----- form tabs + general form setup ------ */
/* ------------------------------------------- */

#formContainer {
    width:50%;
    margin:0px auto;
    background-color:#dce0cd;
    color:#00243f;
    border:0;
    border-radius:20px;
    padding:5%;
    padding-top:3%;
    margin-top:5%;
}

.tab-bar {
    width:100%;
    display:flex;
    flex-direction: row;
    justify-content:center;
}

.bar-item {
    width:48%;
    padding:3%;
}

.activeTab {
    background-color:#00243f;
    color:white;
}

#formContainer .br {
    display:block;
    margin:2%;
}

